<?xml version="1.0" encoding="utf-8"?>
<HybridizerMetaConfigFile xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Configuration>
    <ReconstructLoops>false</ReconstructLoops>
  </Configuration>
  <ConfigFile HybridType="" DllFullPath="C:\Users\tpnsc\source\repos\CUDA\HybC\HybC\bin\x64\Debug\HybC.exe" PdbFullPath="C:\Users\tpnsc\source\repos\CUDA\HybC\HybC\bin\x64\Debug\HybC.pdb" ResultFileName="result.xml" GenerateLineInformation="true" UseFunctionPointers="true" GenerateAllFile="true" GenerateHiddenStubs="true" UseHybridArrays="false" EnableExceptions="false" Features="" DelegateSupport="false" LinesPerFile="0" HybridizerJitterServicePath="C:\Users\tpnsc\AppData\Local\Microsoft\VisualStudio\14.0\Extensions\kjafqcbs.yqs\bin\Hybridizer.PTXJitterService.9.1.exe" HybridizerJitterServiceOptions="--gpu-architecture=auto;-G;--relocatable-device-code=false;-lineinfo;--std=c++11;-DNO_EXCEPTION">
    <TraceConfig>
      <MaxStackDumps>100</MaxStackDumps>
      <Enabled>false</Enabled>
      <StackOverflowThreshold>200</StackOverflowThreshold>
      <Level>2</Level>
    </TraceConfig>
    <HybridFlavor FlavorName="CUDA" GenerateCWrapper="false" BuiltInFileNames="C:\Users\tpnsc\AppData\Local\Microsoft\VisualStudio\14.0\Extensions\kjafqcbs.yqs\include\hybridizer.cuda.builtins;" />
    <HybridElements HybridType="HybC.Program">
      <HybridizedMethod MethodName="Hello" MethodRename="HybCx46Programx46Hello" ForceEntryPoint="true">
        <ParameterTypes />
      </HybridizedMethod>
      <HybridFlavor FlavorName="CUDA" OutputFileName="HybC.Program.cu" GenerateCWrapper="true" BuiltInFileNames="C:\Users\tpnsc\AppData\Local\Microsoft\VisualStudio\14.0\Extensions\kjafqcbs.yqs\include\hybridizer.cuda.builtins;" />
    </HybridElements>
    <DisplayLicenseDetails>false</DisplayLicenseDetails>
  </ConfigFile>
</HybridizerMetaConfigFile>